
@using WebStore.DomainModels.Models
@model IEnumerable<WebStore.DomainModels.Models.BreadcrumbViewModel>
<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Catalog" asp-action="Shop">Shop</a></li>
        @{
            foreach (var item in Model)
            {
                switch (item.BreadCrumbType)
                {
                    case BreadcrumbType.Section:
                        <li>
                            <a asp-controller="Catalog" asp-action="Shop"
                               asp-route-sectionId="@item.Id">@item.Name</a></li>
                        break;
                    case BreadcrumbType.Brand:
                        <li>
                            <a asp-controller="Catalog" asp-action="Shop"
                               asp-route-brandId="@item.Id">@item.Name</a></li>
                        break;
                    case BreadcrumbType.Item:
                        <li>@item.Name</li>
                        break;
                    case BreadcrumbType.None:
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }
        }
    </ol>
</div>
