@model WebStore.Models.Employee

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Details</h2>

				<div>
					<h4>Employee</h4>
					<hr/>
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Id)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Id)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.FirstName)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.FirstName)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.LastName)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.LastName)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.Birth)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Birth)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.Department)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Department)
						</dd>
					</dl>
				</div>
				<div>
					@Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
					<a asp-action="Index">Back to List</a>
				</div>
			</div>
		</div>
	</div>
</section>