@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewData["Title"] | E-Shopper</title>
	<environment include="Development">
            <link rel="stylesheet" href="~/css/bootstrap.min.css" />
            <link href="~/css/font-awesome.min.css" rel="stylesheet">
            <link href="~/css/prettyPhoto.css" rel="stylesheet">
            <link href="~/css/price-range.css" rel="stylesheet">
            <link href="~/css/animate.css" rel="stylesheet">
            <link href="~/css/main.css" rel="stylesheet">
            <link href="~/css/responsive.css" rel="stylesheet">
        </environment>
    <environment exclude="Development">
	<link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
	<link href="~/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/css/Fonts.css" rel="stylesheet" asp-append-version="true">
	<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>

</head><!--/head-->
<body>
@await Html.PartialAsync("Header").ConfigureAwait(false)

@await RenderSectionAsync("top", false).ConfigureAwait(false)

@RenderBody()

@await Html.PartialAsync("Footer").ConfigureAwait(false)


    <environment include="Development">
        <script src="~/js/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.scrollUp.min.js"></script>
        <script src="~/js/price-range.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/cartLogic.js"></script>

    </environment>
<environment exclude="Development">
    <script src="~/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/cartLogic.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<script type="text/javascript">
    $(function() {
        Cart.init({
            addToCartLink: '@Url.Action("AddToCart","Cart")',
            getCartViewLink: '@Url.Action("GetCartView", "Cart")',
            removeFromCartLink: '@Url.Action("RemoveFromCart","Cart")',
            decrementLink: '@Url.Action("DecrementFromCart","Cart")'
        });
    });
</script>
@await RenderSectionAsync("scripts", false).ConfigureAwait(false)

</body>
</html>